@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #141414;
  --foreground: #141414;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* Ensures full viewport height */
}

main {
  flex: 1;
  /* Expands to fill available space, pushing footer to the bottom */
  overflow: auto;
  /* Ensures main content is scrollable if necessary */
}

h1,
h2,
h3,
button,
.summary {
  font-family: 'VT323', serif;
}

.bg-image {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 400px;
  opacity: 0;
  filter: blur(5px);
  z-index: -1;
  transition: opacity 3s ease-in-out;
}

.bg-image.visible {
  opacity: 0.3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mirror-icon {
  transform: scaleX(-1);
}

.btn:hover {
  opacity: 0.8;
}

.bg-version {
  background-color: #cb635f;
  opacity: 0.8;
}

.bg-green {
  background-color: #48a05c;
}

.bg-light-green {
  background-color: #7ec78f;
}

.bg-red {
  background-color: #cb635f;
}

.bg-light-red {
  background-color: #e69c99;
}

.footer-link {
  text-decoration: none;
}

.btn-orange {
  background-color: #fe9b39;
  color: #141414;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn-red {
  background-color: #cb635f;
  font-size: 1.4rem;
  font-weight: bold;
  color: #141414;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn-blue {
  background-color: #4863A0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f7fefd;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.bg-blue {
  background-color: #4863A0;
}

.box-blue {
  background-color: #4863A0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.box-orange {
  background-color: #fe9b39;
  color: #141414;
  padding: 1rem;
  border-radius: 0.5rem;
}

.box-red {
  background-color: #cb635f;
  padding: 1rem;
  border-radius: 0.5rem;
}

.box-gray {
  background-color: #9babb7;
  padding: 1rem;
  border-radius: 0.5rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.category-button {
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Message styles */
.message {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  /* Default to left for assistant */
  width: 100%;
  animation: messageArrival 0.5s ease-out;
}

@keyframes messageArrival {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply different background color only to the content */
.message .message-content {
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  /* Ensure the background wraps only the content */
  max-width: 60%;
}

/* User message alignment */
.message.user {
  justify-content: flex-end;
  /* Push user messages to the right */
}

.message.user .message-content {
  background-color: lightblue;
  text-align: left;
}

/* Assistant message alignment */
.message.assistant {
  justify-content: flex-start;
  /* Align assistant messages to the left */
}

.message.assistant .message-content {
  background-color: rgba(255, 200, 100, 1);
  text-align: left;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid rgba(255, 242, 217, 0.8);
  border-left-color: rgba(252, 196, 92, 0.8);
  border-top-color: rgba(219, 124, 22, 0.8);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-left: 8px;
}

.icon-margin {
  margin: 0 1rem;
}

.icon-margin-small {
  margin: 0 .3rem;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  /* Transparent background */
  position: sticky;
  width: 100%;
}

.footer {
  background-color: rgba(255, 255, 255, 0.05);
  /* Transparent background */
  position: sticky;
  bottom: 0;
  width: 100%;
}

.text-white {
  color: #f7fefd;
}